html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* 设置浏览器滚动条样式 */
::-webkit-scrollbar-track-piece { 
    background-color:#f8f8f8;
    }
 ::-webkit-scrollbar {
    width:5px;
    height:5px;
    } 
 ::-webkit-scrollbar-thumb {
    background-color:#dddddd;
    background-clip:padding-box;
    min-height:28px; 
    }
::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;   
}
/* 轮播图下小圆点 */
.el-carousel__button{
    width: 5px !important;
    height: 5px !important;
    border-radius: 50%;
}

.el-col-1{
    padding-left: 104px;
}
.el-input--suffix .el-input__inner{
    width: 120px;
}
/* .el-input__inner{
    border-radius: 20px !important;
    background-color: #e13e3e !important;
    border: none !important;
    color: #e76464 !important;
} */
.zplayer-fixed .zplayer .zplayer-list{
    position: absolute;
    left: -3px;
    top: -300px;
}
.zplayer .ss-btn{
    display: none;
    height: 73px;
    width: 100%;
}
.zplayer-fixed .zplayer{
  width: 100% !important;
  height: 75px;
}
.zplayer-fixed .zplayer .zplayer-content{
    height: 75px;
    width: 100% !important;
}
.zplayer-fixed .zplayer .zplayer-list{
    left: 1330px;
}
.el-icon-arrow-right:before{
  content: '';
}
.el-collapse-item__header {
    height: 70px;
    font-size: 20px;
    position: relative;
}
.el-slider__button{
    display: none;
}
.el-slider__runway{
    margin: 0;
    height: 14px;
    border-radius: 14px;
}